body {
	font-family: "Nunito Sans", sans-serif;
	font-size: 1.7vw
}

.headerContainer {
	margin-right: auto;
	margin-left: auto;
	max-width: 60ch;
	line-height: 150px;
}

h1 {
	font-size: 8.2vw;
	font-weight: 1000;
}

.h2container {
	justify-content: space-between;
	align-items: flex-end;
	display: flex;
	flex-direction: row;
}

address {
	text-decoration: underline;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

p {
	margin-right: auto;
	margin-left: auto;
	max-width: 60ch;
	text-align: justify;
	line-height: 32px;
	margin-bottom: 30px;
}

/* .highlight, address {
	color: green;
} */

body > header, 
article,
footer {
	padding: 2em;
}

footer {
	opacity: 0.5;
}