
body {
	font-family: "Work Sans", sans-serif;
	font-size: 1.2vw
}

header {
	border-bottom: thick double rgb(155, 0, 0)
}

.headercontainer {
	margin-right: auto;
	margin-left: auto;
	max-width: 60ch;
}

h1, h2 {
	font-size: 7.2vw;
	font-weight: 1000;
}

.h2container {
	/* Added a second container to create a new line in the header and evenly align those words */
	justify-content: space-between;
	align-items: flex-end;
	display: flex;
	flex-direction: row;
}

address {
	text-decoration: underline;
	margin-bottom: 3%;
	/* Margin bottom had to be much less so that the different font sizes of the author and the title would not affect the margins */
}

section {
	margin-top: 2%;
}

p {
	margin-right: auto;
	margin-left: auto;
	max-width: 60ch;
	text-align: justify;
	line-height: 220%;
	margin-bottom: 30px;
}

#quote {
	/* As there is only one quote in this reading, I used an id tag instead of a class */
	border: 4px rgb(155, 0, 0) double;
	border-bottom-right-radius: 25px;
	border-top-left-radius: 25px;
	max-width: 60ch;
	margin-right: auto;
	margin-left: auto;
	/* Added a border around my new blockquote */
}

#quote > p {
	font-size: larger;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	/* There was no direct source for the quote so I did not add a citation */
}

span {
	/* Added spans throughout the reading to highlight key words and phrases*/
	color: rgb(155, 0, 0);
}

body > header, 
article,
footer {
	padding: 2em;
}

footer {
	/* Wanted to give the footer a distinct design */
	color: rgb(155, 0, 0);
	opacity: 0.5;
}

.floatingbuttonscontainer {
	position: fixed;
	z-index: 99;
	bottom: 20px;
	right: 40px;
	display: flex;
	flex-direction: column;
}

.floatingbutton {
	border: rgb(155, 0, 0) solid 0.2vw;
	background-color: none;
	color: rgb(155, 0, 0);
	cursor: pointer;
	padding: 8%;
	padding-left: 12%;
	padding-right: 12%;
	border-radius: 10px;
	margin-bottom: 10.5%;
	font-size: 1.2vw;
	text-align: center;
}


